
    h1 { /* Configurações do "Nome do Jogo */
    font-size: 45px;
    font-weight: 10px;
    font-family: 'Times New Roman', Times, serif;
    color:black

    
}           

    body { /* "Corpo" da Página de Forma geral */
     background-color: rgb(21, 6, 48);  /* Cor de Fundo da Página*/
     font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /*Posicionamento Horizontal*/
    }

    .container { /* essa caixnha ai do meio onde a mágica acontece */
    text-align: center; /* Onde vai ficar placeholder*/
    background-color: rgb(170, 152, 233);
    padding: 120px; /*Tamanho da "Caixa" */
    border-radius: 20px; /* Arredondamento das Bordas */
    box-shadow: 0 0 10px whitesmoke /*Brilho das Bordas*/
    }

    
    div#tabuleiro { /* essa # serve para identificar a div por meio de seu ID (definido pelo usuário) */
            display: grid;
            grid-template-columns: repeat(5, 50px); /*Define o Número total de colunas e o tamanho */
            grid-gap: 10px;
            justify-content: center; 
            margin-bottom:25px;
    }

    input { /* Altera a Caixa de digitação de respostas  */  
        padding: 10px; /* Mexe no tamanho da caixa */
        font-size: 18px; /*Tamanho da Letra Dentro da Caixinha */
        margin: 10px 0;
        width: 50%; /* Comprimeto da caixa */
    }

    button { /* Alterações no Botão de Envio das repostas*/
        padding: 10px 20px;
        font-size: 18px;

    }

    .correta { /* A Letra está posicionada Corretamente */
        background-color:  green;
        color: white;
        
    }

    .quase { /* A letra está na palavra, porém no posicionamento errado */
        background-color: rgb(199, 130, 2);
        color:white;

       
    }
    .errada { /* Como irão aparecer as letras que não estão em nenhum lugar da palavra em questão */
        background-color: red;
        color: white;
        
    }

    /* Estilo para o botão de reiniciar */
    #botaoReiniciar {
    display: none; 
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #botaoReiniciar:hover {
    background-color: #d32f2f;
  }
  
.tutorial {
    align-self: flex-end;
    margin-bottom: -15px;
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: right;
    justify-content: center;
    font-family: 'Audiowide', 'sans-serif';
    text-align: center;
    background-color: rgb(52, 6, 66); 
    color: #b5b5c0;
}
   