@font-face {
  font-family: bangers-regular;
  src: url("./Bangers-Regular.ttf");
}

@font-face {
  font-family: comic-regular;
  src: url("./ComicRelief-Regular.ttf");
}



    h1 { /* Configurações do "Nome do Jogo */
    text-align: center;
    font-size: 60px;
    font-weight: 10px;
    font-family: bangers-regular;
    color: rgb(10, 9, 9);

    
}           

    body { /* "Corpo" da Página de Forma geral */
     background-color: rgb(26, 6, 66);  /* Cor de Fundo da Página*/
     font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /*Posicionamento Horizontal*/
    }

    .container { /* essa caixnha ai do meio onde a mágica acontece */
    margin-top: 100px;
    text-align: center;
    background-color: rgb(179, 168, 218);
    padding: 150px; /*Tamanho da "Caixa" */
    border-radius:30px; /* Arredondamento das Bordas */
    box-shadow: 0 0 10px whitesmoke /*Brilho das Bordas*/
    }

    input { /* Altera a Caixa de digitação de respostas  */  
        padding: 10px; /* Mexe no tamanho da caixa */
        font-size: 18px; /*Tamanho da Letra Dentro da Caixinha */
        margin: 10px 0;
        width: 50%; /* Comprimeto da caixa */
    }

    button { /* Alterações no Botão de Envio das repostas*/
        padding: 10px 20px;
        font-size: 18px;

    }

    .correta { /* A Letra está posicionada Corretamente */
      text-align: center;
      display:inline-block;
      padding: 8px;
      background-color: green;
      color:rgb(233, 244, 233);
      font-size: 22px;
      border-radius:4px; /* Arredondamento das Bordas */
      margin: 0 3px;
      border: 2px solid black;
        
    }

    .quase { /* A letra está na palavra, porém no posicionamento errado */
    text-align: center;
    padding: 8px;
    display:inline-block;
    background-color: rgb(187, 187, 23);
     color:rgb(233, 244, 233); 
     font-size: 22px;
     border-radius:4px; /* Arredondamento das Bordas */
     margin: 0 3px;
     border: 2px solid black;
       
    }
    .errada { /* Como irão aparecer as letras que não estão em nenhum lugar da palavra em questão */
     padding: 8px;
    background-color: red;
    display:inline-block;
     color:rgb(233, 244, 233);
     font-size: 22px;
     border-radius:4px; /* Arredondamento das Bordas */
     text-align: center;
     margin: 0 3px;
     border: 2px solid black;
    }

    /* Estilo para o botão de reiniciar */
    #botaoReiniciar {
    display: none; 
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #botaoReiniciar:hover {
    background-color: #d32f2f;
  }
  
.canto-superior-direito {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
  }

  
  .canto-inferior-esquerdo {
    position: fixed;
    top: 650px;
    left: 17px;
    width: 200px;
        align-self: flex-end;
        margin-bottom: -15px;
        padding: 18px;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        align-items: right;
        justify-content: center;
        font-family: 'Audiowide', 'sans-serif';
        text-align: center;
        background-color: rgb(218, 203, 218); 
        color: black;
        border-radius: 5px
        ;
    
  }

  .canto-superior-esquerdo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
  }

  #resultadoPalpite {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;               
}

